TITLE - What machine learning can tell us about the future of housing markets across Canada

AIM: This project aims to analyze how the housing market is going to evolve province by province.
To do so, data was collected on housing indexes across Canada from 1981-2023 from the following website - https://www.kaggle.com/datasets/noeyislearning/housing-price-indexes
We decided to narrow down our analysis on the last 5 years of data which will first be analyzed via visualizations. Finally, this data will be fed to a machine learning algorithm which will allow us to gain insight on the future.

The cleaned data was stored in a SQL database with the use of pgAdmin4.

VISUALIZATIONS: 1.

PART 1 - DATA CLEANING

The dataset found in the "Resources" folder is cleaned so that it only contains the necessary information. The cleaned version is saved into the "Cleaned Resources" folder.

In [1]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine, func

In [2]:
#Load the csv files pertaining to housing indices across Canada
housing_index_path = Path("../Resources/housing_price.csv") 
housing_index = pd.read_csv(housing_index_path, encoding='ISO-8859-1')

In [3]:
housing_index.head()

,REF_DATE,GEO,DGUID,New housing price indexes,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1981-01,Canada,2016A000011124,Total (house and land),"Index, 201612=100",347,units,0,v111955442,1.1,38.2,NaN,NaN,NaN,1
1,1981-01,Canada,2016A000011124,House only,"Index, 201612=100",347,units,0,v111955443,1.2,36.1,NaN,NaN,NaN,1
2,1981-01,Canada,2016A000011124,Land only,"Index, 201612=100",347,units,0,v111955444,1.3,40.6,E,NaN,NaN,1
3,1981-01,Atlantic Region,2016A00011,Total (house and land),"Index, 201612=100",347,units,0,v111955445,2.1,NaN,..,NaN,NaN,1
4,1981-01,Atlantic Region,2016A00011,House only,"Index, 201612=100",347,units,0,v111955446,2.2,NaN,..,NaN,NaN,1

In [4]:
housing_index.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'New housing price indexes', 'UOM',
       'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE',
       'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [5]:
#Drop all unnecessary columns
columns_kept = ["REF_DATE", "GEO", "New housing price indexes", "VALUE"]
housing_index_cleaned = housing_index[columns_kept]



housing_index_cleaned.head()

  REF_DATE              GEO New housing price indexes  VALUE
0  1981-01           Canada    Total (house and land)   38.2
1  1981-01           Canada                House only   36.1
2  1981-01           Canada                 Land only   40.6
3  1981-01  Atlantic Region    Total (house and land)    NaN
4  1981-01  Atlantic Region                House only    NaN

In [18]:
#Rename the necessary columns
housing_index_renamed = housing_index_cleaned.rename(columns={"REF_DATE": "Date", "GEO": "Geography", "VALUE": "Index Value", "New housing price indexes": "Housing Category"})

housing_index_renamed.head()

      Date        Geography        Housing Category  Index Value
0  1981-01           Canada  Total (house and land)         38.2
1  1981-01           Canada              House only         36.1
2  1981-01           Canada               Land only         40.6
3  1981-01  Atlantic Region  Total (house and land)          NaN
4  1981-01  Atlantic Region              House only          NaN

In [41]:
#Filter the datasetb to begin in 2018 so that we have 5 years of data
housing_index_final1 = housing_index_renamed[housing_index_renamed['Date'] >= '2018-01']
housing_index_final = housing_index_final1[housing_index_final1["Housing Category"] == "Total (house and land)"]
housing_index_final.reset_index(drop=True, inplace=True)
housing_index_final

,Date,Geography,Housing Category,Index Value
0,2018-01,Canada,Total (house and land),103.3
1,2018-01,Atlantic Region,Total (house and land),100.3
2,2018-01,Newfoundland and Labrador,Total (house and land),99.0
3,2018-01,"St. John's, Newfoundland and Labrador",Total (house and land),99.0
4,2018-01,Prince Edward Island,Total (house and land),100.3
...,...,...,...,...
3275,2024-10,"Edmonton, Alberta",Total (house and land),109.4
3276,2024-10,British Columbia,Total (house and land),126.6
3277,2024-10,"Kelowna, British Columbia",Total (house and land),122.2
3278,2024-10,"Vancouver, British Columbia",Total (house and land),127.8
3279,2024-10,"Victoria, British Columbia",Total (house and land),119.3

In [42]:
#Save all dataset as csv file
housing_index_path = "housing_index_final.csv"
housing_index_final.to_csv(housing_index_path,index=False)

PART 2 - VISUALIZATIONS

The dataset is explored and analyzed via a variety of different visualizations

In [35]:
#Create engine
engine = create_engine("postgresql://postgres:postgres@localhost:5432/housing_index_db")

In [36]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(autoload_with=engine)

In [37]:
# View all of the classes that automap found
Base.classes.keys()

[]

In [40]:
query = "SELECT * FROM housing_index limit 10"
tables = pd.read_sql(query, engine)
print(tables)

      date                              geography        housing_category  \
0  2018-01                                 Canada  Total (house and land)
1  2018-01                                 Canada              House only
2  2018-01                                 Canada               Land only
3  2018-01                        Atlantic Region  Total (house and land)
4  2018-01                        Atlantic Region              House only
5  2018-01                        Atlantic Region               Land only
6  2018-01              Newfoundland and Labrador  Total (house and land)
7  2018-01              Newfoundland and Labrador              House only
8  2018-01              Newfoundland and Labrador               Land only
9  2018-01  St. John's, Newfoundland and Labrador  Total (house and land)

   index_value
0        103.3
1        103.2
2        103.7
3        100.3
4        100.3
5         99.9
6         99.0
7         98.8
8         99.8
9         99.0